<div class="section about" id="about">
    <h2 class="description">Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology.</h2>
    <hr class="horizontal-bar" />
    <div class="content">
        <div class="about-me">
            <h3 class="heading">Who am I?</h3>
            <div class="about-content">
                <p>Hello! My name is Dinithi and I enjoy developing things living on Internet. My interest towards software development started back in 2010 as an ICT student. 
                    Years after as a university student, Statictics managered to grab my interest leading me to graduate in Statistics with Computer Science specialization.</p>
                <p>Fast-forward to today, I was lucky enough to complete my Internship at a AI start up and join a multinational IT cooperate as a Software Engineer. Recently my focus is more directed towards building web applications and services.</p>
            </div>            
        </div>
        <div class="my-skills">
            <h3 class="heading">I'm good at,</h3>
            <div class="skills-content">
                <div class="chip">HTML</div>
                <div class="chip">CSS</div>
                <div class="chip">JavaScript</div>
                <div class="chip">C#</div>
                <div class="chip">ASP.NET</div>
                <div class="chip">TypeScript</div>
                <div class="chip">Angular</div>
                <div class="chip">Node.js</div>   
                <div class="chip">SQL Server</div>             
                <div class="chip">Unit Testing</div>                
                <div class="chip">Google Maps API</div>
                <div class="chip">REST</div>
            </div>
        </div> 
    </div>       
</div>

