<div class="section experience" id="experience">
    <h2 class="description">Here you will find about my work experience and my contribution in the projects in more detail.</h2>
    <hr class="horizontal-bar" />
    <div class="content">
        <div class="side-bar">
            <a class="company-name" [ngClass]="{'active-link': companyName === 'nagarro'}" style="margin-top: 20px" (click)="showWorkExperience('nagarro')">Nagarro Inc</a>
            <a class="company-name" [ngClass]="{'active-link': companyName === 'orelit'}" (click)="showWorkExperience('orelit')">OrelIT</a>
        </div>
        <div class="work-description">
            <div *ngIf="companyName === 'orelit'" class="orelIt">
                <h3 class="heading">Intern - Artificial Inteligence @ OrelIT</h3>
                <span class="duration">December 2020 - August 2021</span>
                <div class="work-items">
                    <ul>
                        <li>Developed an Efficient-net Image Classification Algorithm for product Classification.</li>
                        <li>Visualized, analyzed, and evaluated the results of product classification algorithm using python.</li>
                        <li>Built and delivered flask API for price prediction using machine learning models.</li>
                        <li>Researched on implementation of Intelligent Traffic Lights System and its adaptation for modern technologies.</li>
                    </ul>
                </div>
            </div>
            <div *ngIf="companyName === 'nagarro'"class="nagarro">
                <h3 class="heading">Software Engineer @ Nagarro</h3>
                <span class="duration">October 2021 - Present</span>
                <div class="work-items">
                    <ul>
                        <li>Developed and styled interactive web applications for Railway pooling client using Angular and .Net.</li>
                        <li>Involved in developing an web application with customized Google maps API integration.</li>
                        <li>Involved in developing technical solutions according to Railway pooling stakeholder business requirements using Node JS.</li>
                        <li>Maintained the technical documentations for all the existing applications.</li>
                    </ul>
                </div>
            </div>            
        </div>
    </div>
</div>

