<div class="section portfolio" id="portfolio">
  <h2 class="description">
    Soon here you will find some of the personal projects that I created with
    each project containing its own case study.
  </h2>
  <hr class="horizontal-bar" />
  <div class="content">
    <div class="">
        <span class="name">Interior Designer Portfolio</span>
        <p class="desc">An Angular 18 Web Application</p>
    </div>
    <div>Weather Web App</div>
    <div>Three</div>
    <div>Four</div>
    <div>Five</div>
  </div>
</div>
