<div class="social-media">
    <div><a href="https://github.com/Dinithi-Malalanayaka" target="_blank"><img src="../../assets/logo/DMGITHUB.png" class="logo-img" /></a></div>
    <div><a href="https://www.linkedin.com/in/dinithimalalanayaka/" target="_blank"><img src="../../assets/logo/DMLINKEDIN.png" class="logo-img" /></a></div>
    <div><a href="mailto:someone@yoursite.com?subject=Hello!%20Dinithi&body=I%20wish%20to%20connect%20with%20you."><img src="../../assets/logo/DMEMAIL.png" class="logo-img" /></a></div>
    <!-- <div><a href="mailto:someone@yoursite.com?subject=Hello!%20Dinithi&body=I%20wish%20to%20connect%20with%20you."><img src="../../assets/logo/DMEMAIL.png" class="logo-img" /></a></div> -->
</div>

