.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3vw;
}

.greet{
    font-size: 20px;
    margin-bottom: 5px;
}

.name{
    font-size: xxx-large;
}

.description{
    font-size: 20px;
    margin-top: 5px;
    width: 70vw;
}

.resume-btn{
    font-size: 20px;
    border: unset;
    background-color: #323232;
    color: white;
    height: 50px;
    width: 180px;
    border-radius: 25px;
}